<mat-tab-group (selectedTabChange)="selectedTabChanged()">
  <!-- <mat-tab *ngFor="let tab of tabs; let i = index" [label]="tab.label">
    <ng-template matTabContent>
      <app-tab-content [name]="i" [data]="tab.formSrc"></app-tab-content>
    </ng-template>
  </mat-tab> -->
  <mat-tab label="Open Tickets">
    <ng-template matTabContent> 
      <app-ticket-list [ticketState]="TicketState.Open"/>
    </ng-template>
  </mat-tab>
  <mat-tab label="Closed Tickets">
    <ng-template matTabContent> 
      <app-ticket-list [ticketState]="TicketState.Closed"/>
    </ng-template>
  </mat-tab>
  <mat-tab label="In Progress Tickets">
    <ng-template matTabContent> 
    <app-ticket-list [ticketState]="TicketState.InProgress"/>
  </ng-template>
</mat-tab>
</mat-tab-group>
