<h5>List of {{ ticketState }} tickets</h5>
<mat-nav-list>
  <mat-list-item *ngFor="let t of tickets$ | async" class="app-mat-list-item">
    <span matLine>{{ t.title }}</span>
    <button
      class="app-mat-stroked-button"
      mat-stroked-button
      
      class="list-button"
      (click)="changeTicketState(t)"
    >
      <!-- mat-icon-button <mat-icon>close</mat-icon> -->

    <ng-container *ngIf="ticketState === TicketState.Open">Set to In Progress</ng-container>
    <ng-container *ngIf="ticketState === TicketState.Closed">Reopen</ng-container>
    <ng-container *ngIf="ticketState === TicketState.InProgress">Close</ng-container>
    </button>
   </mat-list-item>
</mat-nav-list>
<!-- <p>Options selected: {{ shoes.selectedOptions.selected.length }}</p> -->
