<h5>List of {{ ticketState }} tickets</h5>
<mat-nav-list>
  <mat-list-item *ngFor="let t of tickets$ | async" class="app-mat-list-item">
    <span matLine>{{ t.title }}</span>
    <button
      class="app-mat-stroked-button"
      mat-stroked-button
      *ngIf="ticketState === TicketState.Open"
      class="list-button"
      (click)="setToInProgress(t)"
    >
      Set to In Progress
      <!--mat-icon-button <mat-icon>close</mat-icon> -->
    </button>
    <button
      mat-stroked-button
      *ngIf="ticketState === TicketState.Closed"
      class="list-button"
      (click)="openTicket(t)"
    >
      Reopen
      <!-- mat-icon-button <mat-icon>lock_open_right</mat-icon> -->
    </button>
    <button
      mat-stroked-button
      *ngIf="ticketState === TicketState.InProgress"
      class="list-button"
      (click)="closeTicket(t)"
    >
      Close
      <!-- mat-icon-button <mat-icon>close</mat-icon> -->
    </button>
  </mat-list-item>
</mat-nav-list>
<!-- <p>Options selected: {{ shoes.selectedOptions.selected.length }}</p> -->
